.footerTopMain {
    display: flex;
    flex-direction: column;
    align-items: center;
    padding-block: 7%;
}

.inputMain {
    display: flex;
}

.foTopTitle {
    font-size: 25px;
    font-family: 'FreightDispProMedium-Regular,Times New Roman,serif';
    color: #7d7f85;
}

.foInputBox {
    height: 55px;
    width: 300px;
    border: 1px solid #e1e1e1;
    color: hsla(225, 3%, 51%, .5);
}

.foInputBox::placeholder {
    font-size: 14px;
    margin: 10px;
}

.footerSignupBtn {
    height: 55px;
    width: 140px;
    border: 0;
    background-color: #7d7f85;
    color: white;
    font-weight: 500;
    font-size: 12px;
}

.footerSignupBtn:hover {
    background-color: white;
    border: 1px solid #7d7f85;
    color: #7d7f85;
    transition: all 0.5s ease;
}

.foTopDescription {
    margin-top: 20px;
    color: #7d7f85;
    font-weight: 500;
    font-size: 14px;
    text-align: center;
}

.footerBottomMain {
    display: flex;
    justify-content: space-between;
    border-top: 1px solid #e1e1e1;
    padding: 20px;
    margin-top: 15%;
}

.footerIconMain {
    display: flex;
    width: 33.33%;

}

.footerFace {
    height: 35px;
    width: 35px;
    border: 1px solid #e1e1e1;
    border-radius: 50px;
    display: flex;
    align-items: center;
    justify-content: center;
    cursor: pointer;
    margin-inline: 5px;
}

.footerFace:hover {
    border-color: #7d7f85;
}

.footerTwi {
    height: 35px;
    width: 35px;
    border: 1px solid #e1e1e1;
    border-radius: 50px;
    display: flex;
    align-items: center;
    justify-content: center;
    cursor: pointer;
    margin-inline: 5px;

}

.footerTwi:hover {
    border-color: #7d7f85;
}

.footerInsta {
    height: 35px;
    width: 35px;
    border: 1px solid #e1e1e1;
    border-radius: 50px;
    display: flex;
    align-items: center;
    justify-content: center;
    cursor: pointer;
    margin-inline: 5px;
}

.footerInsta:hover {
    border-color: #7d7f85;
}

.footerYou {
    height: 35px;
    width: 35px;
    border: 1px solid #e1e1e1;
    border-radius: 50px;
    display: flex;
    align-items: center;
    justify-content: center;
    cursor: pointer;
    margin-inline: 5px;
}

.footerYou:hover {
    border-color: #7d7f85;
}

.footerMoreOption {
    display: flex;
    width: 33.33%;
    justify-content: center;

}

.footerMoreOptionData {
    font-size: 12px;
    color: #7d7f85;
    font-weight: 500;
    margin-inline: 15px;
    letter-spacing: 1px;
}

.footerMoreText {
    display: flex;
    width: 33.33%;
    justify-content: flex-end;
}


.footerMoreOptionData {
    font-size: 12px;
    color: #7d7f85;
    font-weight: 500;
    margin-inline: 15px;
    letter-spacing: 1px;
    position: relative;
    text-decoration: none;
    transition: color 0.3s;
    cursor: pointer;
}

.footerMoreOptionData::before {
    content: '';
    position: absolute;
    width: 0;
    height: 1px;
    bottom: 0;
    left: 0;
    background-color: #000;
    transition: width 0.3s ease;
}

.footerMoreOptionData:hover::before {
    width: 100%;
}


@media screen and (max-width: 1024px) {

    .footerBottomMain {
        display: flex;
        flex-direction: column;
        align-items: center;
    }

    .footerIconMain {
        display: flex;
        justify-content: center;
        width: 100%;
    }

    .footerMoreOption {
        margin-top: 25px;
        width: 100%;
    }

    .footerMoreText {
        margin-top: 10px;
        width: 100%;
        justify-content: center;
        display: flex;
        align-items: center;
        flex-direction: column;
    }
}

@media(max-width: 768px) {
    .footerTopMain {
        padding-top: 10px;
        padding-bottom: 0px;
    }

    .footerBottomMain {
        padding-bottom: 0;
    }
}

@media screen and (max-width: 600px) {

    .footerMoreOption {
        display: flex;
        flex-direction: column;
        align-items: center;
    }

    .inputMain {
        display: flex;
        flex-direction: column;
    }

    .foInputBox {
        width: 100%;
        border: 1px solid #e1e1e1;
        color: hsla(225, 3%, 51%, .5);
    }

    .foInputBox::placeholder {
        text-align: center;
    }

    .footerSignupBtn {
        width: 100%;
        border: 0;
        background-color: #7d7f85;
        color: white;
        font-weight: 500;
        font-size: 12px;
    }
}




.TSRFooterMain {
    background-color: #714f44;
    display: flex;
}

.TSRFooterPart1 {
    width: 60%;
    padding: 3% 5% 0px 40px;
}

.trsFoooterImg {
    padding-bottom: 5%;
    width: 250px;
}

.TSRFooterPart1Sub1menuTitle {
    color: white;
    font-weight: 600;
    font-size: 13px;
    font-style: normal;
    letter-spacing: 0.09em;
}

.TSRFooterPart1Sub1menuDesc {
    color: white;
    font-weight: 300;
    font-size: 14px;
    margin-right: 40px;
    letter-spacing: 1px;
    font-family: "PT Sans", sans-serif;;
}


.TSRFooterPart2 {
    width: 40%;
    background-color: #a4796636;
}

.TSRFooterPart2Img {
    width: 100%;
    height: 50%;
}

.TSRFooterPart2Desc2 {
    font-family: "PT Sans", sans-serif;
    color: white;
    font-size: 32px;
    letter-spacing: 3px;
    margin: 10px 0px 20px 0px;
}

.TSRFooterPart2Input {
    border: none;
    outline: none;
    background-color: transparent;
    width: 90%;
    border-bottom: 1px solid white;
    color: white;
    margin-top: 30px;
    height: 30px;
}

.TSRFooterPart2Input::placeholder {
    color: #bebebe;
    padding-bottom: 5px;
}


.TSRFooterPart1Sub1 {
    display: flex;
}

.TSRFooterPart1Sub1-1 {
    width: 33.33%;
}

.TSRFooterPart1Sub1-2 {
    width: 33.33%;
}

.TSRFooterPart1Sub1-3 {
    width: 33.33%;
}

.TSRFooterPart1Sub2 {
    display: flex;
    justify-content: space-between;
    align-items: center;
    border-top: 1px solid rgba(255, 255, 255, 0.15);
}


.footerMoreTextNew {
    background-color: #3e1d14;
    display: flex;
    justify-content: flex-end;
    align-items: center;
    padding: 30px;
}

.forrterSelectionMain {
    height: 40px;
    width: 200px;
    padding: 5px;
    background-color: transparent;
    color: #bebebe;
}

.my-list {
    list-style: none;
    padding: 0;
    max-height: 0;
    overflow: hidden;
    transition: max-height 0.7s ease;
}

.my-list.open {
    max-height: 200px;
    margin: 0;
}

.TSRFooterPart1Sub {
    padding-block: 110px;
}




@media screen and (min-width: 800px) {

    .TSRFooterPart1Sub1Mobile {
        display: none;
    }
}

@media screen and (max-width: 800px) {
    .TSRFooterPart1Sub1 {
        display: none;
    }

    .TSRFooterMain {
        display: flex;
        flex-direction: column;
    }

    .TSRFooterPart1 {
        order: 2;
        width: 100%;
        padding: 0px !important;
    }

    .TSRFooterPart1Sub {
        padding: 50px 20px 20px 30px !important;
    }

    .StayIntouce {
        border-top: 1px solid rgba(255, 255, 255, 0.15);
    }

    .TSRFooterPart2 {
        order: 1;
        width: 100%;
    }

    .TSRFooterPart1Sub2 {
        display: flex;
        flex-direction: column !important;
        padding-inline: 30px;
        border: none;
    }

    .footerMoreTextNew {
        display: flex;
        flex-direction: column;
    }

    .TSRFooterPart2SubMain {
        padding: 30px 0px 50px 30px !important;
    }

    .TSRFooterPart2Desc1 {
        font-size: 12px;
    }

    .TSRFooterPart2Desc2 {
        font-size: 27px;
    }

    .TSRFooterPart2Desc3 {
        font-size: 13px;
    }

    .StayIntouce {
        width: 100%;
        margin-block: 0px !important;
        padding-block: 30px !important;
        font-size: 27px !important;
        border-bottom: 1px solid rgba(255, 255, 255, 0.15);
    }

    .footerIconeMain {
        width: 100%;
        margin-block: 20px !important;

    }

    .TSRFooterPart1Sub1Mobile {
        margin: 0px !important;
        padding: 0px !important;
        width: 100% !important;
    }
}