/* 

.shopbycategoryTitle{
    font-family: 'FreightDispProMedium-Regular,Times New Roman,serif';
    font-size: 40px;
    text-align: center;
    color: rgb(125, 127, 133);
}

.shopbycategoryDesc{
    display: flex;
    justify-content: center;
}

.shopByCategoryBox{
    margin: 30px;  
}
.shopByCategoryBoxImg{
    height: 200px;
    width: 200px;
}

.shopByCategoryBox1Main{
    display: flex;
}

.shopByCategoryBox2Main{
    display: flex;
}

@media screen and (max-width: 550px) {

    .shopbycategoryTitle{
        margin-top: 50px!important;
    }

    .shopByCategoryBox{
        width: 50%!important;
        margin: 5px!important;
    }

    .shopByCategoryBoxImg{
        height: 80%!important;
        width: 100%!important;
    }

    .shopbycategoryTitle{
        font-size: 40px!important;
    }

    .shopByCategoryBox{
        padding: 20px!important;
    }
} */


.gorFetureMain {
    display: flex;
    margin-inline: 12%;
}

.gorFutureMainTitleWeb{
    font-size: 31px;
    line-height: 1.25;
    margin: 0px;
    font-weight: 300;
    font-family: "PT Sans", sans-serif;
}
.gorFetureBox1 {
    width: 45%;
    margin-top: 13%;
    margin-inline: 5%;

}
.gorFutureBox1Images {
    width: 100%;
}

.gorFetureBox2 {
    width: 55%;
    margin-top: 7%;
}
.gorFetureBox2Images {
    width: 95%;
    height: 690px;
}

.gorFutureBoxDesc {
    margin: 0px;
    font-size: 22px;
    font-weight: 300;
    line-height: 1.25;
    font-family: "PT Sans", sans-serif;
}

.gorFetureBox1Sub{
    margin-top: 60px;
}
.gorFetureBox2Sub{
    margin-top: 50px;
}
@media screen and (max-width: 1550px) {

    .gorFetureBox2Images {
        width: 95%;
        height: 100%;
    }

    .gorFetureMain {
        display: flex;
        margin-inline: 3%;
    }

}


@media screen and (min-width: 751px) {
    .gorFutureMainTitleMobile {
        display: none;
    }
}

@media screen and (max-width: 750px) {

    .gorFutureMainTitleWeb {
        display: none;
    }

    .gorFetureBox1 {
        width: 50%;
        margin-top: 1%;
        margin-inline: 2%;
    }

    .gorFetureMain {
        display: flex;
        margin-inline: 3%;
    }

    .gorFutureBox1Images {
        width: 100%;
    }


    .gorFetureBox2 {
        width: 50%;
        margin-top: 5px !important;
    }

    .gorFetureBox2Images {
        width: 100%!important;
        height: 100% !important;
    }

    .gorFutureMainTitleMobile {
        font-size: 31px;
        font-weight: 300;
        font-family: "PT Sans", sans-serif;
        line-height: 1.25px;
        margin: 30px;
    }

    .gorFutureBoxDesc{
        font-size: 15px;
    }
    .gorFetureBox1Sub{
        margin-top: 0px;
    }
    .gorFetureBox2Sub{
        margin-top: 0px;
    }
}



/* neww.................................. */

.GorMansoryMain {
    display: flex;
    margin-inline: 15%;
}

.gorMasonryMainTitle {
    margin-top: 90px;
    font-size: 35px;
    font-family: "PT Sans", sans-serif;
    margin-inline: 15%;
    margin-bottom: 0px;
}

.GorMansoryBox1 {
    width: 50%;
}

.GorMansoryBox1Img {
    width: 90%;
}

.GorMansoryBox2 {
    width: 50%;
    display: flex;
    align-items: center;

}

.GorMansoryBox2Img {
    width: 90%;
}

.GorMansoryBox1ImageMain {
    position: relative;
}

.GorMansoryBox2ImageMain {
    position: relative;

}

.GorMansoryBtn {
    height: 50px;
    width: 200px;
    background-color: #283045;
    color: white;
    font-size: 13px;
    font-weight: 500;
}

.gorShopLookBtn {
    border: none;
    padding: 7px;
}

.gorShopLookBtnMain {
    position: absolute;
    background-color: #f0f0f0;
    bottom: 20px;
    right: 80px;
}


@media screen and (max-width: 1441px) {
    .GorMansoryMain {
        margin-inline: 8%;
    }
}

@media screen and (max-width: 1000px) {
    .GorMansoryMain {
        margin-inline: 4%;
    }
}

@media screen and (max-width: 750px) {
    .GorMansoryMain {
        margin-inline: 4%;
        display: flex;
        flex-direction: column;
    }

    .gorMasonryMainTitle {
        margin-inline: 0%;
        text-align: center;
        margin-top: 50px;
    }

    .GorMansoryBox1 {
        width: 100%;
    }

    .GorMansoryBox1Img {
        width: 100%;
    }

    .GorMansoryBox2 {
        width: 100%;
        margin-top: 50px;
    }
    .GorMansoryBox2Img{
        width: 100%;
    }

    .MasonryBtnMain{
        margin-block: 30px!important;
    }
}